body{
    background-image: linear-gradient(to right, rgb(175,133,53), rgb(238, 182, 238))
}

.box{
    border: 1px solid rgb(20, 19, 19);
    width: 50%;
    height: 68.5vh;
    margin-left: 40%;
    margin-top: 3%;
    background: rgb(247, 243, 243);
border-top-right-radius: 14px;
border-bottom-right-radius:15px ;
margin-bottom: 1px;
position: fixed;
}
.box1{
  width: 20%;
  height:69.3vh ;
  left:270px;
  top:8%;
  margin-right:90%;
  margin-bottom: 150px;
  margin-top: -4px;
  background: rgb(247, 211, 144);
  border-top-left-radius: 10px;
border-bottom-left-radius: 15px;
position: fixed;
}

.jojo{
  display: flex;
}
label{
  font-size: 15px;
}
input{
  font-size: 15px;
}
.fname{
  padding: 10px;
}
.uname{
  padding: 10px;
}
.signupbtn{
    padding: 10px;
    background-color: rgb(207, 79, 101);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 30%;
    margin-bottom: 20px;
}

.signup{
  color: rgb(32, 32, 185);
  padding: 15%;
  border-radius: 5px;
  margin-top: 10%;
  color: rgb(234, 229, 248);
  border: none;
}
h2{
  color: rgb(13, 12, 12);
}
.sighn{
background-color: blue;
}
h1{
 
  font-family: 'Pacifico', cursive;
  color: rgb(151, 76, 5);
  font-size: small;
}